$white: #FFF;
$green: #42BD95;
$purple: #7A246F;
$pinkLight: #FFC2FD;
$pink: #E78DE5;
$pinkDark: #BE0193;
$grey1: #3C3C3C;
$grey2: #F7E6F0;

$fontHeading: 'Playfair Display', serif;
$fontBody: 'Raleway', sans-serif;

$contain: 1440px;
