@import '../utils/variables';
@import '../utils/mixins';

.hero {
	position: relative;
	height: 650px;

	&::after {
		background-color: color($white alpha(40%));
		bottom: 0;
		content: ' ';
		height: 16%;
		left: 0;
		position: absolute;
		right: 0;
		transform: skewY(-2.2deg);
		transform-origin: 0 0;
		width: 100%;
		z-index: 0;
	}
}

.inner {
	height: 100%;
	position: relative;
	width: 100%;
}

.image {
	@include absoluteFull;

	> div,
	> div > div {
		height: 100%;
	}
}

