@import '../utils/mixins';
@import '../utils/variables';

.section {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 0;
	opacity: 0;
	transform: translateY(5px);
	transition: opacity 0.3s ease-in-out, transform 0.4s ease-in-out;

	// @include tabletUp {
	// 	min-height: 400px;
	// }
}

.sectionActive {
	opacity: 1;
	transform: translateY(0);
}

.sectionInner {
	padding: 22px 0;
	width: 100%;

	@include tabletUp {
		padding: 66px 0;
	}

	@include desktopUp {
		padding: 90px 0;
	}
}

.galleryInner {
	@include tabletUp {
		align-items: center;
		display: flex;
	}
}

.galleryImage {
	padding: 15px;
	max-width: 200px;
	margin: 0 auto;

	@include tabletUp {
		max-width: 300px;
	}

	a {
		display: block;
		width: 100%;
	}
}
