@import '../utils/mixins';
@import '../utils/variables';

.postList {
	@include noList();

	li {
		margin-bottom: 30px;

		@include tabletUp {
			margin-bottom: 50px;
		}
	}
}

.post {
	display: block;
}

.postContent,
.postTitle {
	color: $grey1;
}

.postImage {
	margin-bottom: 15px;
	position: relative;
}

.postImagePlaceholder {
	height: 250px;
}

.postOverlay {
	@include absoluteFull();
	align-items: center;
	background-color: rgba($grey1, 0.7);
	display: flex;
	justify-content: center;
	padding: 15px;
	z-index: 1;
}

.postTitle {
	color: $white;
	font-family: $fontHeading;
	font-weight: 400;
	font-size: 30px;
	line-height: 38px;
	margin: 0;
	position: relative;
	text-align: center;
	text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.9);
}
